<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="description" content="A sample weather app">
    <meta name="theme-color" content="#2F3BA2" />

    <!-- CODELAB: Add iOS meta tags and icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2F3BA2">
    <meta name="apple-mobile-web-app-title" content="A sample weather app">
    <link rel="apple-touch-icon" href="/img/manifestIcons/drop128.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Метеосервер</title>

    <link rel="manifest" href="/json/manifest.json">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/weathers/rain.css">
    <link rel="stylesheet" href="/css/weathers/clear_sky.css">

    <script type="text/javascript"  src="chart.js/dist/Chart.min.js"></script>

    <script type="module" src="/js/datasPage.js"></script>
    <script type="module" src="/js/weathers/rain.js"></script>
    <script type="module" src="/js/weathers/clear_sky.js"></script>


</head>
<body class=" ">
    <a href="/home">Добавить девайс </a>

    <div class="rain front-row"></div>
    <div class="rain back-row"></div>
    <main>
        <div class="main_inner">
            <content>
                <div class="styled_block data_block home"> <h2>Блок дома</h2>

                    <!-- вынес строчку выше из дива, нужно потестить как оно будет дальше  -->
                    <div id="temperatureInHomeBlock" class="block"> 
                        <p> <img src="/img/weatherParamsSVG/4-thermometer.svg" alt="Температура на улице">
                        <span class="temperatureInHome"></span>
                    </div>
                    <span class="temperatureInHomeHint" aria-live="polite"></span>

                    <div id="humidityInHomeBlock" class="block">  
                        <p><img src="/img/weatherParamsSVG/humidity.svg" alt="Влажность в доме ">
                        <span class="humidityInHome"></span> 
                    </div>
                    <span class="humidityInHomeHint" aria-live="polite"></span>

                    <div id="sansityInHomeBlock" class="block"> 
                        <p> <img src="/img/weatherParamsSVG/light.svg" alt="Освещенность в доме">
                        <span class="sansityInHome"></span>
                    </div>
                    <span class="sansityHint" aria-live="polite"></span>

                </div>

                <div class="styled_block data_block street"><h2>На улице</h2>
                    <div id="temperatureBlock" class="block"> 
                        <p><img id="thermometer" src="/img/weatherParamsSVG/4-thermometer.svg" alt="Температура на улице">
                        <span class="temperature"></span>
                    </div>
                    <span class="temperatureHint" aria-live="polite"></span>

                    <div id="humidityBlock" class="block" class="block"> 
                        <p> <img src="/img/weatherParamsSVG/humidity.svg" alt="Влажность на улице">
                        <span class="humidity"></span>
                    </div>
                    <span class="humidityHint" aria-live="polite"></span>

                    <div id="weatherIconBlock" class="block"> 
                        <img class="weatherIcon" src="" alt="Погода"> 
                    </div>
                    <span class="weatherIconHint" aria-live="polite"></span>

                    <div id="pressureBlock" class="block"> 
                        <p> <img src="/img/weatherParamsSVG/pressure.svg" alt="Атмосферное давление">
                        <span class="pressure"></span> 
                    </div>
                    <span class="pressureHint" aria-live="polite"></span>
                    
                    <div id="sunriseBlock" class="block"> 
                        <p> <img src="/img/weatherIconsSVG/sunrise.svg" alt="Рассвет">
                        <span class="sunrise"></span> 
                    </div>
                    <span class="sunriseHint" aria-live="polite"></span>

                    <div id="sunsetBlock" class="block"> 
                        <p> <img src="/img/weatherIconsSVG/sunset.svg" alt="Закат">
                        <span class="sunset"></span> 
                    </div>
                    <span class="sunsetHint" aria-live="polite"></span>
                    
                </div>

            </content>
            <h4> <span class="createdAt"></span></h4>
            
            <div class="graphics">
                <div class="chart-container styled_block">
                    <canvas id="temperatureGraphic" style="height:400px;width: 100%">Your browser does not support the canvas element.</canvas>
                </div>
                    <!-- ЗАМЕНИТЬ УКАЗАНИЕ СТИЛЕЙ У КАНВАСОВ!  -->
                <div class="chart-container styled_block">
                    <canvas id="humidityGraphic" style="height:400px;width: 100%">Your browser does not support the canvas element.</canvas>
                </div>
            </div>


            <div id="CPU_load_iostat_block" class="block" class="block"> 
                <div class="graphics">
                    <div class="chart-container"> 
                        <!-- инсертнуть сюда pie график -->
                        <canvas id="CPU_load_iostat_graphic" style="height:400px;width: 100%">Your browser does not support the canvas element.</canvas>
                    </div>
                </div>
            </div>
            <span class="createdAtCpu" aria-live="polite"></span>

            <div id="CPU_load_uptime_block" class="block" class="block"> 
                <div class="graphics">
                    <div class="chart-container"> 
                        <!-- инсертнуть сюда столбчатый график  с тремя параметрами-->
                        <canvas id="CPU_load_uptime_graphic" style="height:400px;width: 100%">Your browser does not support the canvas element.</canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

</body>
</html>