<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="module" src="/js/home.js"></script>   
    <link rel="stylesheet" href="/css/settings.css">
    <!-- <link rel="stylesheet" href="/css/clear_sky.css"> -->

</head>
<body>

    
    <p>Meteostation ID</p>
    <input id="meteoId" name="meteoId" placeholder="Type meteoId" required="required" pattern=".+@.+\..+" />      
    <span class="meteoIdError" aria-live="polite"></span>
    <button class="welcome" id="sendMeteoIdBtn">Привязать</button>
    <span class="serverError" aria-live="polite"></span>


    <p>PC ID</p>
    <input id="PC_Id" name="PC_Id" placeholder="Type PC Id" required="required" pattern=".+@.+\..+" />      
    <span class="PC_IdError" aria-live="polite"></span>
    <button class="welcome" id="sendPC_IdBtn">Привязать</button>


    <p>Старые картинки погоды для олдов
    <div class="switch">
            <input type="checkbox">
            <label></label>
        </div>





</body>
</html>