<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/Chart.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <content>
            <div class="home"> <p>Блок дома
            <p> Температура дома <img src="/img/icons8-temperature-filled-16.png" alt=""><span class="temperatureInHome"></span>
            <p> Влажность в доме <img src="/img/icons8-hygrometer-16.png" alt=""><span class="humidityInHome"></span>
            <p> Освещенность в доме<img src="/img/icons8-light-16.png" alt=""><span class="sansityInHome"></span>
        </div>

        <div class="street"><p>На улице
            <p> Температура на улице <img src="/img/icons8-temperature-filled-16.png" alt=""><span class="temperature"></span>
            <p> Влажность на улице <img src="/img/icons8-hygrometer-16.png" alt=""><span class="humidity"></span>
            <p> Атмосферное давление <img src="/img/icons8-pressure-16.png" alt=""><span class="pressure"></span>
            <p><span class="weatherDescription"></span>
        </div>

        <p> Данные были получены <span class="createdAt"></span>
    </content>
    <div class="chart-container">
        <canvas id="myChart">Your browser does not support the canvas element.</canvas>
    </div>


</body>
</html>