<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Метеосервер</title>
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript"  src="/Chart.js"></script>
    <script type="module" src="/js/index.js"></script>
</head>
<body>
    <content>
            <div class="home"> <p>Блок дома

            <div class="block"> <!-- контейнер -->
                <div class="hover"><img src="/img/icons8-temperature-filled-16.png" alt="Температура дома "><span class="temperatureInHome"></span></div> <!-- видимый элемент -->
                <span class="hidden">Температура дома</span> <!-- скрытый элемент -->
            </div>

            <div class="block"> <!-- контейнер -->
                <div class="hover"><img src="/img/icons8-hygrometer-16.png" alt="Влажность в доме "><span class="humidityInHome"></span> </div> 
                <span class="hidden">Влажность в доме</span> <!-- скрытый элемент -->
            </div>

            <p> <img src="/img/icons8-light-16.png" alt="Освещенность в доме"><span class="sansityInHome"></span>
        </div>

        <div class="street"><p>На улице
            <p>  <img src="/img/icons8-temperature-filled-16.png" alt="Температура на улице"><span class="temperature"></span>
            <p> <img src="/img/icons8-hygrometer-16.png" alt="Влажность на улице"><span class="humidity"></span>
            <p> <img src="/img/icons8-pressure-16.png" alt="Атмосферное давление"><span class="pressure"></span> мм рт. ст.
            <p><span class="weatherDescription"></span>
        </div>

    </content>
    <p> Данные были получены <span class="createdAt"></span>
    
    <div class="graphics">
        <div class="chart-container">
            <canvas id="temperatureGraphic">Your browser does not support the canvas element.</canvas>
        </div>
        <div class="chart-container">
            <canvas id="humidityGraphic">Your browser does not support the canvas element.</canvas>
        </div>
    </div>

</body>
</html>