body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #007acc, #111119);
  background-color: #007acc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_inner {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknown {
  filter: blur(15px);
}

#humidityGraphic, #temperatureGraphic {
  height: 400px; 
}

.data_block {
  height: 540px;
}

.styled_block { 
  border: 1px solid rgb(98, 78, 164); 
  border-radius: 25px; 
  padding: 5px 20px; 
  margin: 15px; 
  background-color: #333; 
  box-shadow: 0 0 10px 1px #0b304e; 
  color: white;
} 

@media screen and (max-width: 650px) {
  .styled_block {
    width: 80%;
  }
}

span {
  color: white;
}

.createdAt {
 font-size: 12px;
}

.block {
  width: 230px;
}

a {
  color: #00B7FF;
}

p {
  color: black;
  font-size: 25px;
}


content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

@media screen and (max-width: 650px) { 
  content {
    flex-direction: column;
  }
}

img {
  height: 40px;
}

.chart-container {
  
  display: block;
  width: 660px;
} 

.createdAtCpu {
}


@media screen and (max-width: 780px) {
  .chart-container {
    height:400px;
    width: 80%
  }
}

