body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #007acc, #111119);
  background-color: #007acc;
  /* position: absolute; */
}

.unknown {
  filter: blur(15px);
}

#humidityGraphic, #temperatureGraphic {
  height:400px;
  width: 100%;
  border: 1px solid rgb(98, 78, 164); 
  border-radius: 25px; 
  padding: 5px 20px; 
  margin: 15px; 
  background-color: #333; 
  height: 540px; 
  box-shadow: 0 0 10px 1px #0b304e; 
}

content .dblock { 
  border: 1px solid rgb(98, 78, 164); 
  border-radius: 25px; 
  padding: 5px 20px; 
  margin: 15px; 
  background-color: #333; 
  height: 540px; 
  box-shadow: 0 0 10px 1px #0b304e; 
  color: white;
  width: 30%;
} 

span {
  color: white;
}

.createdAt {
 font-size: 12px;
}

.block {
  width: 230px;
}

a {
  color: #00B7FF;
}

p {
  color: black;
  font-size: 25px;
}


content {
  display: flex;
  flex-direction: row;

}

img {
  height: 40px;
}

.chart-container {
  
  display: block;
  width: 660px;
} 

.createdAtCpu {
}


@media screen and (max-width: 650px) {
  .chart-container {
    height:400px;
    width: 100%
  }
}

